@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

.image-container {
  @apply inline-block ;
  columns: 4 200px;
  @apply mt-10;
  @apply hover:rounded-lg;
}
body {
  width: 650px;
  height: 500px;
  background-color: #141e24;
}

.container {
  position: relative;
}
.tag {
  @apply absolute left-0 top-0 float-left bg-[#ffffff] bg-opacity-30 p-[5px] font-bold  text-[#ffffff];
  z-index: 1000;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  @apply bg-black dark:bg-white;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  @apply bg-white dark:bg-gray-500;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
