@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

.image-container {
  @apply inline-block w-full;
  columns: 4 200px;
  @apply hover:rounded-lg;
}
body {
  width: 650px;
  height: 500;
  @apply bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl
}

